<div class="ArticleList">
  <h1 class="main-title">Liste des Articles</h1>

  @for (article of allArticles; track article.id) {
  <p>
    Nom {{ article.name }} <br />
    Prix : {{ article.price }}€<br />
    <img src="{{ article.picture_URL }}" alt="image ici" /><br />
    Quantité: {{ article.getTotalStockQuantity() }}
    <br />
    <button [routerLink]="'/article/' + article.id">Modifier</button>
  </p>
  } @empty {
  <p>La liste des articles est vide.</p>
  }
  <button [routerLink]="'/article/new'">Nouveau</button>
</div>
