<div class="overlay">
  <div class="modal">
    <h2>Ajout d'un nouveau stock</h2>

    @if (stock) {
    <p>
      Date:
      <!-- Merci internet pour la conversion en format du calendrier -->
      <input
        type="date"
        [value]="stock.date ? stock.date.toISOString().split('T')[0] : ''"
        (input)="UpdateDate($event)"
      />
      <br />
      Article:
      <br />
      <select (change)="UpdateArticle($event)">
        @for (article of articles; track article.id) {
        <option [value]="article.id">
          {{ article.name }}
        </option>
        }
      </select>
      <br />
      Quantité:
      <br />
      <input
        type="number"
        [value]="stock.quantity"
        (input)="UpdateQuantity($event)"
      />
      <br />
      Type de transfert:
      <br />
      <select (change)="UpdateTransferType($event)">
        <option value="IN">Entrée</option>
        <option value="OUT">Sortie</option>
      </select>
      <br />
      Commentaire:
      <br />
      <input
        type="text"
        [value]="stock.comment"
        (input)="UpdateComment($event)"
      />
    </p>
    } @else {
    <p>Aucun stock disponible</p>
    }
    <button (click)="CreateStock()" [routerLink]="'/command/' + commandId">
      Enregistrer
    </button>
    <button [routerLink]="['/command']">Retour aux commandes</button>
  </div>
</div>
