<div class="overlay">
  <div class="modal">
    <h2>Création d'une nouvelle commande</h2>

    <!-- @if (command) { -->
    <p>
      Date :
      <br />
      <input type="date" [value]="command.date" (input)="UpdateDate($event)" />
      <br />
      Commentaire :
      <br />
      <input
        type="text"
        [value]="command.comment"
        (input)="UpdateComment($event)"
      />
    </p>

    <button (click)="CreateCommand(); CloseWindow()" [routerLink]="'/command'">
      Enregistrer
    </button>

    <h3>Ajout de stocks</h3>
    <div>
      @for (stock of stocks; track stock.id) {
      <p>
        Article :
        <br />
        <input
          type="text"
          [value]="stock.article.name"
          (input)="UpdateStockArticle($event, stock)"
        />
        <br />
        Quantité :
        <br />
        <input
          type="number"
          [value]="stock.quantity"
          (input)="UpdateStockQuantity($event, stock)"
        />
        <br />
        Type de transfert :
        <br />
        <select (change)="UpdateStockTransferType($event, stock)">
          <option value="IN">Entrée</option>
          <option value="OUT">Sortie</option>
        </select>
        <br />
        Commentaire :
        <br />
        <input
          type="text"
          [value]="stock.comment"
          (input)="UpdateStockComment($event, stock)"
        />
      </p>

      <button (click)="RemoveStock(stock)">Supprimer Stock</button>
      }
    </div>
    <!-- @if(!windowDisplayStatus){
    <button (click)="AddStockWindow()">Ajouter un stock</button>
    } @if(windowDisplayStatus){
    <app-stock-new></app-stock-new>
    <button (click)="AddStockWindow()">Fermer</button>
    } } @else {
    <p>Aucune commande disponible</p>
    } @if(!windowDisplayStatus){
    <button (click)="CreateCommand(); CloseWindow()" [routerLink]="'/command'">
      Enregistrer
    </button> -->
    <!-- } -->
  </div>
</div>
