<div class="CommandDetail">
  <h1 class="main-title">Commande actuelle:</h1>

  @if (command) {
  <p>ID : {{ command.id }}</p>

  @if (!edit) {
  <p>Date : {{ command.date }}</p>
  <p>Commentaire : {{ command.comment }}</p>

  <button (click)="EditCommand()">Modifier</button>
  <button (click)="DeleteCommand()">Supprimer</button>

  <h2>Stocks liés à la commande</h2>
  @if (command.stocks && command.stocks.length > 0) { @for (stock of
  command.stocks; track stock.id) {
  <p>
    Article : {{ stock.article.name }} <br />
    Quantité : {{ stock.quantity }} <br />
    Type de transfert : {{ stock.transferType }} <br />
    Commentaire : {{ stock.comment }}
  </p>
  }
  <button [routerLink]="['/stock/new', command.id]">Ajouter</button>
  } @else {
  <p>Aucun stock lié à cette commande.</p>
  <button [routerLink]="['/stock/new', command.id]">Ajouter</button>
  } } @else {
  <p>
    Date :
    <input type="date" [value]="command.date" (input)="UpdateDate($event)" />
  </p>
  <p>
    Commentaire :
    <input
      type="text"
      [value]="command.comment"
      (input)="UpdateComment($event)"
    />
  </p>

  <button (click)="EditCommand()">Sauvegarder</button>
  <button (click)="RevertCommand()">Annuler</button>
  } } @else {
  <p>Aucune commande disponible.</p>
  }
</div>
